<div class="container border">
<div class="row p-4 mt-3 mb-3 text-center">
    <div class="col">
        <img src="{{toy.image}}" width="350" height="350">
    </div>
    <div class="col">
        <table class="table table-bordered">
            <tr>
                <th colspan="2" class="text text-success">Toy Info</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>{{toy.name}}</th>
            </tr>
            <tr>
                <th>price</th>
                <th>{{toy.price}}</th>
            </tr>
            <tr>
                <th>description</th>
                <th>{{toy.description}}</th>
            </tr>
        </table>
    </div>
</div>
</div>